.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5rem;
    background-color: var(--slate-200);
    height: 4.5rem;
}

.colorClinic {
    color: var(--rose-300);
}

.menuDesktop {
    display: none;
}

.buttonMenuMobile {
    line-height: 0px;
}

.buttonMenuMobile svg {
    width: 1.4rem;
    height: 1.4rem;
    color: var(--rose-300);
}

@media(min-width: 600px) {
    .buttonMenuMobile {
        display: none;
    }

    .menuDesktop,
    .menuDesktop ul {
        display: flex;
        gap: 2rem;
    }

    .menuDesktop ul li a {
        color: #475569;
        transition: all 0.05s;
    }

    .menuDesktop ul li a:hover {
        color: var(--rose-400);
        padding-bottom: 1.5rem;
        border-bottom: 2px solid var(--rose-400);
    }
}

@media(min-width: 1150px) {
    .containerHeader {
        padding: 0px 7.68rem;
    }
}