.buttonClosedMenu {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--rose-300);
    top: 1.5rem;
    right: 1.5rem;
    position: absolute;
}

.buttonClosedMenu:hover {
    color: var(--rose-400);
    border-radius: 4px;
    border: 1px solid var(--rose-400);
}

.menuMobile ul li {
    margin-bottom: 4rem;
}

.menuMobile ul li:last-child {
    margin-bottom: 0px;
}

.menuMobile ul li a {
    font-size: 1.87rem;
    color: var(--slate-950);
    font-weight: bold;          
}

.menuMobile ul li a:hover {
    border-bottom: 2px solid var(--rose-400);
}